<div id="<%= dom_id bake %>">
  <div>
    <strong>Baked on:</strong>
    <%= bake.baked_on %>
  </div>

  <div>
    <strong>Total carbs:</strong>
    <%= bake.total_carbs %>
  </div>

  <div>
    <strong>Total weight:</strong>
    <%= bake.total_weight %>
  </div>

  <div>
    <strong>Recipe:</strong>
    <%= bake.recipe_id %>
  </div>

  <div>
    <strong>Container:</strong>
    <%= bake.container_id %>
  </div>

</div>
